@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Lobster+Two:ital,wght@0,700;1,700&family=Monoton&family=Pacifico&family=Patua+One&family=Playball&family=Poppins:wght@400;500;600;700&family=Redressed&family=Roboto+Serif:wght@600;700&family=Roboto+Slab:wght@400;500;800&family=Roboto:wght@400;500;700;900&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&family=Redressed&family=Roboto+Serif:wght@600;700&family=Roboto+Slab:wght@400;500;800&family=Roboto:wght@400;500;700;900&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&fal,wght@0,700;1,700&family=Merriweather+Sans:wght@600&family=Monoton&family=Pacifico&family=Patua+One&family=Playball&family=Poppins:wght@400;500;600;700&family=Redressed&family=Roboto+Serif:wght@600;700&family=Roboto+Slab:wght@400;500;800&family=Roboto:wght@400;500;700;900&family=Rowdies:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Great Vibes', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Patua One', cursive;
    font-family: 'Playball', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Redressed', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rowdies', cursive;
}
              /*SECTION*/
section{
    position:relative;
    width:100%;
    min-height:100vh;
    padding:100px;  
    justify-content:space-between;
    align-items:center;
    display:flex;
    background:yellow;
}
               /*HEADER*/
header
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:23px 7px;
    display:flex;
    justify-content:space-between;
    align-items:center;   
    animation:headerani 2s ease-in-out;                       
}

                         /*HEADER ANIMATION*/
@keyframes headerani {
    0%{
        transform:translateY(-100%);  
    }
}
header h1{
    position:relative;
    float:right;
    top:0;
    right:0;  
    display:flex;
    margin-right:20px; 
    font-size:38px;
    font-weight:900;
    background:linear-gradient(rgb(247, 4, 77),rgb(250, 3, 106),rgb(253, 4, 199),red,rgb(0, 0, 168));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family:'Lobster', cursive;
    text-align:center;
    margin:auto;
}
header ul{
    position:relative;
    float:left;
    display:flex;
} 
header ul li{
    list-style-type:none;
} 
header ul li a{
   display:inline-block;
   color:rgb(255, 255, 0);
   font-weight:500;
   margin-left:30px;
   font-size:18px;
   text-transform:capitalize;
   text-decoration:none;
   font-family: 'Roboto Serif', sans-serif;
} 
header ul li a.active{
    border-bottom:3px solid rgb(255, 255, 0);
    
} 
                                   /*CONTENT*/
.content{
    position:relative;
    cursor:pointer;
    margin-top:80px;
    left:1%;
    max-width:1700px;
    display:flex;
    width:100%;
    margin-right:20px;
}
                             /*CONTENT PHOTOS*/

.content .photos{
    position:relative;
    max-width:400px;
    padding-left:1%;
    margin-left:-70px;
    transform: translateY(-30px);
}
                            /*CONTENT LEFT-SIDE PHOTO ANIMATION*/
.content .photos img{
    animation:imgani 2s ease-in-out;
}
@keyframes imgani{
    0%{
        transform:translateX(-50%);
        opacity:0;
    }
}
.content .photos li .one{
    animation-delay:.4s;
}
.content .photos li .two{
    animation-delay:.8s;
}
.content .photos li .three{
    animation-delay:1.2s;
}
.photos li{
    list-style-type:none;   
}
/*.content .photos li .three img{
    margin-left:-50px;

}*/
.content .photos li .three{
    margin-left:-18px;
}
.content .photos li .two{
    margin-left:-16px;
}
.content .photos li .one{
    margin-left:-14px;
}
.content .photos li{
    padding-bottom:40px;
    margin-top:-15%;
    margin-left:-14px;
    cursor:pointer;
    transition:0.5s;
}
.photos li:hover{
    transform:translateX(18px);
}                             
                                  /*CONTENT TEXT*/
.content .text{
    position:relative;
    max-width:900px;
    margin-left:30px;
    /*border:1px solid blue;*/
    transform:translateY(50x);
}
.content .text h1{
    color:white;
    font-weight:bold;
    font-size:38px;
    text-shadow:3px 0px 5px rgba(243, 14, 83, 0.5);
    letter-spacing:.1px;
    font-family:'Poppins','sans-serif';
    flex-wrap:nowrap;
    width:700px;
    transform: translateY(-30px);
}
.content .text h1  #hai{
    font-size:42px;
    color:yellow;
    text-shadow:none;
    font-weight:900;

}
.content .text h1 span{
    color:rgb(252, 236, 9);
    font-size:28px;
    font-weight:300;  
    text-shadow: 3px 2px 3px rgb(251, 255, 0);
}
.content .text h2 span{
    font-size:25px;
    font-weight:500;   
}
.content .text p{
    font-size:23px;
    margin-top:-5px;
    letter-spacing:0.4px;
    font-weight:500;
    color:rgb(247, 233, 233); 
    gap:15px;
      
}
.content .text p span{
    margin-top:5px;
    line-height:1.4em;
    color:rgb(247, 233, 233);
    letter-spacing:0.5px; 
    transform:translateY(-10px); 
}
.content .text h2 #emoji{
    font-size:23px;
    font-weight:300;
}
.content .text h2{
    margin-top:5px;
    padding:15px;
    text-align:center;
    font-family: 'Redressed', cursive;
    font-size:30px;
    font-weight:800;
    color:white;
    letter-spacing:1px;
    text-shadow:2px 0px 5px rgba(243, 14, 129, 0.5); 
    transform:translateX(-30px);  
}
.content .text a{
    color:rgb(248, 11, 11);
    text-decoration:none;
    display:inline-block;
    font-size:18px;
    font-weight:400;
    font-family:'Roboto serif',sans-serif;
    letter-spacing:0.3px;
    text-align:center;
   /* padding-left:80px; */
    transform:translateX(140px);
    text-align:center;
}
.btn{
    border:2px solid rgb(9, 34, 255) transparent;
    padding:20px 25px;
    border-radius:35px;
    margin-right:15px;
    background:rgb(247, 190, 6);
    box-shadow:3px 3px 2px rgb(248, 246, 247),
               -3px -3px 2px rgb(241, 5, 37);
}
                      /*CONTENT BIGPHOTO*/            
.content .bigphoto{
    max-width:500px;
    display:flex;
    justify-content:flex-end;
    margin-top:-10%;
    padding-left:-50px;
    margin-right:-10px;
    margin-left:220px;
    right:3%;
    left:70%;
    background:transparent;
}
.content .bigphoto img{
    width:480px;
    gap:20px;
    padding-left:80px;
    text-align:center;
    padding-right:70px;
    display:block;
    transition:.3s;
    transform:translateX(-200px);
    cursor:pointer;   
}  
               /*CONTENT RIGHT-SIDE PHOTO ANIMATION*/
 .content .bigphoto img{
    animation:bigimageani 2s ease-in-out;
    }
@keyframes bigimageani{
    0%{
        transform:translateX(50%);
        opacity:0;
        }
 }

                         /*CLIP-PATH CIRCLE*/
.circle{
    position:absolute;
    background:rgb(241, 5, 37);
    clip-path:circle(910px at left);
    top:0;
    left:0;
    width:100%;
    height:100%;
}












    
   
























